---
- hosts: server_prod
  become: yes
  tasks:
#  - name: Stop a container
#    docker_container:
#    name: devopsappprod
#    state: stopped
  - name: run the devops container
    docker_container:
      name: devopsapp
      image: jpgibart/projet_cd:2.0
      state: started
      ports:
       - "8080:8080"
      command: java -jar /bin/devops-1.0.war